{% extends 'components/navbar.html' %}

{% block content %}
<body>
    <h1>Post list</h1>

    {% for post in posts %}
       <div class="card" style="width: 18rem;">
            <img src="{{ post.image} }" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ post.name }}</h5>
            <p class="card-text">{{ post.price }}</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
       </div>
    {% endfor %}
</body>
</html>

{% endblock %}