{% extends 'components/navbar.html' %}
{% load static %}
{% block content %}

    <h1>{{ product.name }}</h1>
    <h4>Category:
        <a href="#" class="btn btn-secondary">{{product.category}}</a>
    </h4>
    <h4>Catalog:
        <a href="#" class="btn btn-secondary">{{product.catalog}}</a>
    </h4>
    {% if product.image %}
        <img src="/media/{{product.image}}" width = 300>
    {% else %}
        <img src="{% static 'not_found.jpg' %}" width = 300>
    {% endif %}
    <p>Content: {{ product.content }}</p>
    <h6>Price: {{ product.price}}</h6>
    <p>{{ product.created_at}}</p>

    {% if request.user == product.user %}
        Update: <a href="/products/{{ product.id }}/update/">Update</a>
    {% endif %}

    <h1>Comments</h1>
    {% for review in product.reviews.all %}
        <p>{{ review.text }}</p>
        <p>{{ review.created_at }}</p>
    {% endfor %}

<form action="/products/{{product.id}}/create_review/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="Create Review">
</form>

{% if product.user == request.user %}
        <form action="/products/{{ product.id }}/delete" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this task?');">
        </form>
    {% endif %}


{% endblock %}