{% extends 'components/navbar.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'products/styles.css' %}">
</head>

<body>
    <form action="" method="get">
        <input type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
        <input type="submit" value="Search">
    </form>

    <h2><strong>Категории:</strong></h2>
    {% for i in category %}
        <a href="?category={{ i.id }}" class="btn btn-secondary"><strong>{{ i.name }}</strong></a>
    {% endfor %}

    <h2><strong>Сортировка:</strong></h2>
    <a href="?sort=price>" class="btn btn-secondary"><strong>Price ></strong></a>
    <a href="?sort=price<" class="btn btn-secondary"><strong>Price <</strong></a>
    <a href="?sort=newest" class="btn btn-secondary"><strong>Newest</strong></a>
    <a href="?sort=oldest" class="btn btn-secondary"><strong>Oldest <</strong></a>

    <h2><strong>Торты:</strong></h2>

    <div class="card-container">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                {% if product.image %}
                    <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'not_found.jpg' %}" alt="Image not found">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><strong>{{ product.price }}</strong></p>
                    <a href="#" class="btn btn-secondary">{{ product.category }}</a>
                    <a href="/products/{{ product.id }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1>Pages</h1>

    {% for i in pages %}
        <a href="?page={{i}}" class="btn btn-secondary">{{i}}</a>
    {% endfor %}

</body>

{% endblock %}
