{% extends 'components/navbar.html' %}}
{% load static %}
{% block content %}
<h1>
    Profile
</h1>
<p>
    <img src="/media/{{ user.profile.avatar }}" alt="">
</p>

<p>
    Welcome to your profile, {{user.username}}!
</p>
<p>
    {{user.email}}
</p>
<p>
    {{user.first_name}} {{user.last_name}}
</p>
<p>
    age: {{user.age}}
</p>

{<div class="card-container">
        {% for product in request.user.products.all %}
           <div class="card" style="width: 18rem;">
               {% if product.image %}
                    <img src="/media/{{ product.image }}">
               {% else %}
                    <img src="{% static 'not_found.jpg' %}">
               {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <a href="#" class="btn btn-secondary">{{ product.category }}</a>
                <a href="/products/{{ product.id }}" class="btn btn-primary">Buy</a>
                </div>
           </div>
        {% endfor %}
    </div>
</body>
</html>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 50px;
        margin-top: 50px;
    }

    .card {
        margin-bottom: 20px;
        flex: 0 0 calc(28% - 30px);
    }
</style>

<p>
    <a href="/logout/">Logout</a>
</p>


{% endblock %}