{% extends 'components/navbar.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
</head>

<body>
    <div class="register-container">
        <form class="register-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn-primary" name="Register" value="Создать">
        </form>
    </div>
</body>
{% endblock %}
